<%- include("../partials/header-pro.ejs") %>
<div class="content">
    <div class="block">
        <h1 class="head_pro">User profile</h1>
        <div class="img_pro">
            <p>
                <img src="<%= user.profileImage %>" class="image">
            </p>
        </div>
        <div class="info">
            <p>Username : <%= user.username %></p>
            <p>Fullname : <%= user.fullname %></p>
            <p>Email : <%= user.email %></p>
            <p class="button">
                <a href="/user/<%= currentUser._id %>/edit" class="btn">edit profile</a> 
            </p>
        </div>
        
        
    </div>
    
</div>

<%- include("../partials/nofooter.ejs") %>